$color-light:#c9d3d8;

.cabinet__wrap {
    padding: 24px 46px;

    h3 {
        font-size: 1.5rem;
        font-weight: normal;
    }
    
    h4 {
        font-size: 1.4rem;
        font-weight: normal;
    }

    hr {
        color: $color-light;
        border: none; 
        background-color: $color-light;
        height: 1px; 
    }

    td {
        padding: 8px;
    }
}