$border-color: #ced4da;
$button-color: #0083ca;
$font: 12px/14px -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
$font-color-light: #888;

@function darker($color, $tone) {
    $adjust: -$tone;
    @return adjust-color($color, $red: $adjust, $green: $adjust, $blue: $adjust);
}

.login__form {
    width: 360px;
    height: 290px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -180px;
    margin-top: -145px;
    text-align: center;
    border: 1px solid $border-color;
    border-radius: 0.25rem;
    background: white;

    p {
    font-size: 1.5rem;
    }
}

.login__form_input_name {
    width: 270px;
    border: 1px solid $border-color;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    padding: 10px;
    background-color: white;
    font-family: inherit;
    margin: 0;

    &:focus {
        position: relative;
        z-index: 1;
    }
}

.login__form_input_password {
    width: 270px;
    margin-top: -1px;
    border: 1px solid $border-color;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    padding: 10px;
    background-color: white;
    margin-bottom: 5px;
}

p.login__form_deny {
    width: 290px;
    height: 14px;
    top: 50px;
    margin: 0 auto;
    padding: 0;
    font-size: 1rem;
    padding-bottom: 5px;
    color: $font-color-light;
}

.login__form_button {
    width: 290px;
    border: 1px solid $button-color;
    border-radius: .25rem;
    padding: 8px;
    background-color: $button-color;
    color: white;
}

.login__form_button:active {
    background: darker($button-color, 7%); 
    box-shadow: inset 0 1px 2px rgba(0,0,0,.5);    
}

.login__div-break-line {
        width: 270px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        line-height: 0;
        
        h5 {
            line-height: 1;
            font-size: 1rem;
            color: $font-color-light;
            font-weight: 400;
            z-index: 2;
            position: relative;
            display: inline-block;
            background-color: #fff;
            padding: 0 8px 0 7px;
        }
}

.login__div-break-line::after {
    content: "";
    width: 100%;
    background-color: transparent;
    display: block;
    height: 1px;
    border-top: 1px solid $border-color;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    z-index: 1;
}



// another style (Amazon)
.login__form_button-new-user {
    height: 29px;
    width: 290px;
    background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
    color: #111;
    border-radius: 3px;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    //display: inline-block;
    //padding: 0;
    //text-align: center;
    //vertical-align: middle;
    box-shadow: 0 1px 0 rgba(255,255,255,.6) inset;
    box-sizing: border-box;
}

.login__form_button-new-user:hover {
    border-color: #a2a6ac #979aa1 #82858a;
}

.login__form_button-new-user:active, 
.login__form_button-new-user:hover:active {
    //color: #0066c0;
    border-color: #adb1b8 #a2a6ac #a2a6ac;
    background: linear-gradient(to bottom,#e7eaf0,#d9dce1);
    box-shadow: inset 0 1px 3px rgba(0,0,0,.2);    
}

.login__form_button-new-user:focus { 
    outline:0;
    border-color:#e77600;
    box-shadow:0 0 3px 2px rgba(228,121,17,.5);
}
.login__form_button-new-user:hover {
    border-color:#e77600;
}

.login__form_button-submit {
    height: 29px;
    width: 290px;
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    color: #111;
    border-radius: 3px;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(255,255,255,.6) inset;
    box-sizing: border-box;
}

.login__form_button-submit:hover:active,
.login__form_button-submit:active { 
    border-color:#a88734 #9c7e31 #9c7e31;
    background: #f0c14b;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.2);    
}
.login__form_button-submit:focus {
    outline:0;
    border-color:#e77600;
    box-shadow:0 0 3px 2px rgba(228,121,17,.5)
}
.login__form_button-submit:hover {
    border-color:#e77600;
}

